<div class="publications">
  <p class="post-description">I use East Asian naming convention in my homepage, bold family name before given name.</p>
  {% bibliography --group_by none --query @*[selected=true]* %}
</div>
